<h1>Stupid Coach</h1>
<div class="form">
  <p><%= params[:question] %></p>
  <p class="i">- You</p>
</div>
<div class="form">
  <p class="answer"><%= @answer %></p>
  <p class="i">- Your Coach</p>
</div>
